<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Upload Avatar</th>
            </tr>
            <tr>
                <td colspan="9"><a href="/add"><button>Add Staff</button></a></td>
            </tr>
        </thead>
        <tbody>
            <% let stt = 1 %>
            <% staffArray.forEach(staff=> { %>
                    <tr>
                        <td><%= stt %></td>
                        <td><a href="/info/<%= staff.id %>"><%= staff.name %></a></td>
                        <td><%= staff.age %></td>
                        <td><%= staff.address %></td>
                        <td><%= staff.phone %></td>
                        <td><%= staff.email %></td>
                        <td><%= staff.avatar %></td>
                        <td><a href="/home/<%= staff.id %>/edit"><button>Edit</button></a></td>
                        <td><a href="/home/<%= staff.id %>/delete"><button>Delete</button></a></td>
                        <td><form action="/avatar/<%= staff.id %>" method="post" enctype="multipart/form-data"><input type="file" name="avatar"><button type="submit">Submit</button></form></td>
                    </tr>
            <% stt++ %>
            <% }) %>
        </tbody>
    </table>
</body>
</html>