<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Avatar</th>
        </tr>
        <tr>
            <td><h3><%= staff.name %></h3></td>
            <td><h3><%= staff.age %></h3></td>
            <td><h3><%= staff.address %></h3></td>
            <td><h3><%= staff.phone %></h3></td>
            <td><h3><%= staff.email %></h3></td>
            <td><h3><%= staff.avatar %></h3></td>
        </tr>
    </table>
</body>
</html>