<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="name" value="<%= staff.name %>" placeholder="Name">
        <br>
        <input type="text" name="age" value="<%= staff.age %>" placeholder="Age">
        <br>
        <input type="text" name="address" value="<%= staff.address %>" placeholder="Address">
        <br>
        <input type="text" name="phone" value="<%= staff.phone %>" placeholder="Phone">
        <br>
        <input type="text" name="email" value="<%= staff.email %>" placeholder="Email">
        <br>
        <input type="text" name="avatar" value="<%= staff.avatar %>" placeholder="Avatar">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>